# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android
**/android/captures/
**/android/local.properties
**/android/.gradle/
**/android/gradle/
*.apk
*.aab
*.jar
*.keystore

# iOS
**/ios/Pods/
**/ios/DerivedData/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app_and_blossom_frameworks.sh
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/pod_helper.sh
**/ios/Runner/Assets.xcassets
**/ios/Runner.xcodeproj/project.xcworkspace/
**/ios/Runner.xcworkspace/
**/ios/Carthage
# CocoaPods
/ios/Pods/
/ios/Podfile.lock
/ios/Flutter/Flutter.podspec

# Build
/build/

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws
app.iml

# Others
app-release.apk
firebase-debug.log
privacy_policy.html
